
<div class="modificar-container" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="textTittle">Registrar Gasto</h1>

  <!--form class="ofertaLaboral-form" -->


  <div  fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="8rem">


      <div  fxLayout="column"  fxLayoutAlign="space-evenly start" fxLayoutGap="1rem"  >



        <div fxLayout="row" fxLayoutGap="8rem" >
          <mat-form-field class="imput-data">
            <mat-label>atributo1</mat-label>
            <input matInput >
           </mat-form-field>

          <mat-form-field class="imput-data" >
           <mat-label>atributo2</mat-label>
           <input matInput  >
          </mat-form-field>

      </div>

            <div fxLayout="row" fxLayoutGap="8rem" >
                <mat-form-field class="imput-data">
                  <mat-label>atributo3</mat-label>
                  <input matInput >
                 </mat-form-field>

                <mat-form-field class="imput-data" >
                 <mat-label>atributo4</mat-label>
                 <input matInput  >
                </mat-form-field>

            </div>


        <div fxLayout="row" fxLayoutGap="8rem" fxLayoutAlign="center none">

          <mat-form-field class="imput-data">
           <mat-label>atributo4</mat-label>
           <input matInput >
          </mat-form-field>

           <mat-form-field class="imput-data" >
            <mat-label>atributo6</mat-label>
            <input matInput  >
           </mat-form-field>
        </div>


</div>







  </div>



  <div fxLayout="row" class="btnGuardar" fxLayoutGap="8rem" fxLayoutAlign="center center" >

    <button mat-raised-button color="primary">Ingresar</button>
  </div>


</div>

