
<div class="modificar-container" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="section-heading text-uppercase " style="color: green;" >Registro de Gastos</h1>
  <br><br>
  <form  [formGroup]="expenseForm" (ngSubmit)="deleteExpense()" action="#" class="border rounded p-2 form">



    <div  fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="8rem">


        <div  fxLayout="column"  fxLayoutAlign="space-evenly start" fxLayoutGap="1rem"  >



          <div fxLayout="row" fxLayoutGap="8rem" >

              <mat-form-field class="imput-data">
                <mat-label>Monto</mat-label>
                <input matInput formControlName="amount" type="number" readonly>
              </mat-form-field>



            <mat-form-field class="imput-data" >
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description" />
            </mat-form-field>

          </div>

              <div fxLayout="row" fxLayoutGap="8rem" >

                <mat-form-field appearance="fill" class="imput-data">
                  <mat-label>Referencia</mat-label>
                  <input matInput formControlName="numRefBank" readonly>
                </mat-form-field>



                  <mat-form-field appearance="fill" class="imput-data">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="idCategory" readonly>
                      <mat-option *ngFor="let categoria of data_category" [value]="categoria.id">{{ categoria.name }} </mat-option>
                    </mat-select>
                  </mat-form-field>


              </div>


          <div fxLayout="row" fxLayoutGap="8rem" fxLayoutAlign="center none">



            <mat-form-field class="imput-data">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker"  formControlName="date" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <div fxLayout="row"  fxLayoutGap="8rem" fxLayoutAlign="center center" class="imput-data">
              <button class="btnGuardar" type="submit" mat-raised-button color="primary" aria-label="Example icon button with a menu icon">
                Eliminar
              </button>


            </div>


        </div>
     </div>

  </div>
</form>


</div>



