<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p><span class="account-state {{ data.active === 1 ? 'account-state-active' : 'account-state-inactive' }}"></span>Cuenta: {{ data.iban }}</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <p class="balance"> Balance: <span [ngClass]="data.balance > 0 ? 'positive-balance' : data.balance < 0 ? 'negative-balance' : ''">{{ data.balance }}</span></p>
        <p>Banco: {{ data.bank }}</p>
      </div>

      <div class="col-md-6">
        <p>Tipo de cuenta: {{ data.type === 'C' ? 'Crédito' : 'Débito' }}</p>
        <p>Últimos cuatro dígitos de la tarjeta: {{ data.lastFourDigits }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p>Titular de la cuenta: {{ data.holder }}</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <p>SINPE Móvil: {{ data.phone }}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="col-md-6">
      <button type="button" routerLink="/dashboard" mat-raised-button>Volver</button>
    </div>
    <div class="col-md-6 text-end">
      <button class="me-3" mat-mini-fab  [routerLink]="['/editAccount', data.holder]" color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab (click)="openDialog()" color="secondary">
        <mat-icon> {{ data.active === 1 ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
      </button>
    </div>
  </mat-card-actions>

</mat-card>

