<div
  class="modificar-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h1 class="section-heading text-uppercase">Eliminar Ingresos</h1>
  <br /><br />
  <form
    [formGroup]="incomeForm"
    (ngSubmit)="deleteIncome()"
    action="#"
    class="border rounded p-2 form"
  >
    <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="8rem">
      <div
        fxLayout="column"
        fxLayoutAlign="space-evenly start"
        fxLayoutGap="1rem"
      >
        <div fxLayout="row" fxLayoutGap="8rem">
          <mat-form-field class="imput-data">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="amount" type="number" readonly />
          </mat-form-field>

          <mat-form-field class="imput-data">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="8rem">
          <mat-form-field class="imput-data">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="date"
              readonly
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" class="btn-container">
            <div class="left-container">
              <button mat-raised-button color="primary" type="submit" class="btnGuardar">Eliminar</button>
            </div>
            <span style="margin-right: 10px;"></span> <!-- Espacio de 10 píxeles entre los botones -->
            <div class="right-container">
              <button mat-raised-button color="warn" (click)="cancel()">Regresar</button>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
