.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-color: aquamarine;
    border-style: solid;
  }
  
  .radio-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }

  .radio-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  .radio-group input[type="radio"] {
    margin-right: 5px;
    /* Cambiar el color del botón de radio a gris */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }

  .radio-group input[type="radio"]:checked {
    /* Cambiar el color del botón de radio seleccionado a gris */
    border-color: #888;
    background-color: #888;

  }

  
  .instructions {
    margin-bottom: 20px;
  }

  .image {
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 10px;
  }
  