/**************************Angular*******************/
.toolbar-spacer {
    flex: 1 1 auto;
    margin: 0;
}

mat-toolbar {
    background-color: white;
    color: black;
}

.toolbar-title {
    color: gray;
}

mat-toolbar > span {
    margin: 5rem 2rem;
}