<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidenav [mode]="sidebarMode" [opened]="isSidebarOpen" [fixedInViewport]="true">
        <mat-nav-list>
            <a mat-list-item routerLink="/perfil" routerLinkActive="active">Perfil</a>
            <a mat-list-item routerLink="/transacciones" routerLinkActive="active">Transacciones</a>
            <a mat-list-item routerLink="/cuentas-bancarias" routerLinkActive="active">Cuentas Bancarias</a>
            <a mat-list-item routerLink="/emailForwarding" routerLinkActive="active">Reenvio de correos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="dashboard-container">
            <button mat-icon-button (click)="toggleSidebar()" *ngIf="isMobile()">
              <mat-icon>{{ isSidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
            <router-outlet></router-outlet>
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>