.sidebar-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    padding: 20px;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  button {
    align-self: flex-start;
  }
  
  @media (max-width: 768px) {
    mat-sidenav {
      display: none;
    }

    .dashboard-container {
        padding-top: 20px;
    }
  }
  
  .menu-button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: inherit;
  }
  
  .menu-link {
    text-decoration: none;
    color: inherit;
  }
  
  .menu-link:hover,
  .menu-link:focus {
    text-decoration: underline;
  }
  
  .menu-link span {
    margin-right: 4px;
  }
  
  .menu-link mat-icon {
    margin-left: 4px;
  }