
<div class="container">
  <div class="text-center">

    <h1 class="section-heading text-uppercase">Categorías</h1>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Ingresa datos" (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
  <BR>

  <div class="centrarTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><b> Name</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}</td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef><b> Province</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.province }}
          </td>
        </ng-container>


        <!-- action Column -->
        <ng-container matColumnDef="province">
          <th mat-header-cell *matHeaderCellDef><b>Capacity</b></th>
          <td mat-cell *matCellDef="let element">
            {{ element.capacitySize }}

          </td>
        </ng-container>
              <!-- action Column -->
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef><b>City</b></th>
                <td mat-cell *matCellDef="let element">

                 {{ element.city }}
                </td>
        </ng-container>
                    <!-- action Column -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef><b>District</b></th>
          <td mat-cell *matCellDef="let element">
           {{element.name}}

          </td>
        </ng-container>

                    <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef><b>Reservation</b></th>
          <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
              <div class="example-button-container">
                <button mat-mini-fab color="warn" routerLink="/ReservationProcess/{{element.idParkingLot}}" aria-label="Example icon button with a plus one icon">
                  <mat-icon>where_to_vote</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
