@import '~@angular/material/theming';

// Definir la paleta de colores
$primary: mat-palette($mat-green);
$accent: mat-palette($mat-green, A200, A100, A400);
$warn: mat-palette($mat-red);

// Crear el tema
$theme: mat-light-theme($primary, $accent, $warn);

// Aplicar el tema a los componentes de Angular Material
@include angular-material-theme($theme);
